<div class="wrapper">
    <section id="masthead">
        <h1>Interesting Articles</h1>
    </section>
    <div class="article">
        <figure class="article-image">
            <img src="img/money.jpg" alt="The Value Of Money">
            <figcaption>The True Value Of Money</figcaption>
        </figure>
        <div class="content">
            <h2>The Value of Money</h1>
                <p>TThe concept of money is foundational to modern economies, yet its true value extends beyond mere
                    financial transactions. This article can explore the historical evolution of money, from barter
                    systems to fiat currencies, highlighting key milestones that shaped our current financial
                    systems. It's important to discuss how central banks play a pivotal role in regulating money
                    supply, influencing interest rates, and maintaining price stability. The impact of inflation and
                    deflation on individuals, businesses, and governments should be examined, emphasizing the
                    delicate balance between price stability and economic growth... <br>
                    <cite><a href="https://www.inc.com/dan-price/dissecting-imaginary-value-of-money.html">Identifying
                            the True Value of Money</a></cite> by Dan Prince, Gravity Payments.
                </p>
        </div>
    </div>
    <div class="article">
        <figure class="article-image">
            <img src="img/food.jpg" alt="GMO food">
            <figcaption>GMO food</figcaption>
        </figure>
        <div class="content">
            <h2>GMO food</h1>
                <p>Genetically Modified Organisms (GMOs) have been a topic of considerable debate and scientific
                    exploration. These organisms have been altered through genetic engineering to exhibit traits not
                    naturally found in their species, often with the aim of enhancing crop yield, resistance to pests,
                    or nutritional content. Advocates of GMOs argue that they hold the potential to address food
                    security challenges by producing more robust and nutritious crops, thus helping to feed a growing
                    global population. <br>
                    <cite>World Health Organization, "20 Questions on
                        Genetically Modified Foods"
                </p>
        </div>
    </div>
    <div class="article">
        <figure class="article-image">
            <img src="img/2100.jpg" alt="The View of World in 2100">
            <figcaption>The View of World in 2100</figcaption>
        </figure>
        <div class="content">
            <h2>The View of World in 2100</h1>
                <p>Depending on the actions we take now, the world will be slightly or intolerably warmer at the end of
                    this century, or the world population will go up to 9 or maybe 11 billion people. Depending on the
                    politicians we vote for and other actions we take, we will have one type of world order based on
                    collaboration and cooperation or a completely different one based on confrontation and war. <br>
                    <cite><a href="https://humanefutureofwork.com/what-will-the-world-be-like-in-2100/">Humane Future of
                            Work.
                </p>
        </div>
    </div>
</div>