<div class="wrapper">
    <section id="masthead">
        <div class="tagline">
            <h1>Interesting Portfolio</h1>
        </div>
    </section>
    <div class="portfolio">
        <div class="portfolio-item">
            <img src="img/art-01.jpg" alt="art number 1">
            <div class="caption">
                <p>Awesome Portfolio Piece</p>
            </div>
        </div>
        <div class="portfolio-item">
            <img src="img/art-02.jpg" alt="art number 1">
            <div class="caption">
                <p>Awesome Portfolio Piece</p>
            </div>
        </div>
        <div class="portfolio-item">
            <img src="img/art-03.jpg" alt="art number 1">
            <div class="caption">
                <p>Awesome Portfolio Piece</p>
            </div>
        </div>
        <div class="portfolio-item">
            <img src="img/art-04.jpg" alt="art number 1">
            <div class="caption">
                <p>Awesome Portfolio Piece</p>
            </div>
        </div>
        <div class="portfolio-item">
            <img src="img/art-05.jpg" alt="art number 1">
            <div class="caption">
                <p>Awesome Portfolio Piece</p>
            </div>
        </div>
        <div class="portfolio-item">
            <img src="img/art-06.jpg" alt="art number 1">
            <div class="caption">
                <p>Awesome Portfolio Piece</p>
            </div>
        </div>
    </div>
</div>